:root {
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

div.counter-container {
  text-align: center;
}

div.count-container {
  font-size: 5rem;
  padding: 2rem;
  color: #555;
}

div.small-counter {
  padding: 0.5rem;
  font-family: monospace;
}

button {
  border: 1px solid #eee;
  padding: 0.75rem 1.25rem;
  margin: 0.5rem;
  font-family: monospace;
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: none;
}

@media screen and (max-width: 400px) {
  :root {
    font-size: 12px;
  }
}
